<%- include("templates/head", {titulo: "Productos | Wetapas"}) %> 
<link rel="stylesheet" href="/css/index/style.css">
</head>
<body>
    
    <img src=<%=producto.imagen%> alt="">
    <h2><%=producto.nombre%></h2>
    <p><%=producto.descripcion%></p>
   
</body>