<header class="header">
    <div class="menu-izq">
        <button class="menu"><span class="iconify" data-icon="ant-design:menu-outlined" data-width="40" data-height="40"></span></button>
        <div class="menu-box">
            <h2 class="titulo">Wetapas</h2>
            <div class="line-header"></div>
        </div>
    </div>
    <div class="menu-drch">
        <a href="http://" class="btn-Header">Carrito</a>
        <a href="http://" class="btn-Header">Login</a>
        <a href="http://" class="btn-Header">Registro</a>
    </div>
</header>