<header class="header">
    <div class="menu-izq">
        <button class="menu">Menu</button>
        <div class="menu-box">
            <h2 class="titulo">Wetapas</h2>
            <div class="line-header"></div>
        </div>
    </div>
    <div class="menu-drch">
        <a href="http://" class="btn-Header">Carrito</a>
        <a href="http://" class="btn-Header">Login</a>
        <a href="http://" class="btn-Header">Registro</a>
    </div>
</header>