
<footer class="footer">
    <nav class="mx-auto d-md-flex">
        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center gap-2 flex-column">
            <h5 class="text-center text-title pt-4">
                Mapa web
            </h5>
            <div class="linea"></div>
            <a href="/productos" class="text-center text-blanco">
                Productos
            </a>
            <a href="/sobrenosotros" class="text-center text-blanco">
                Sobre Nosotros
            </a>
            <a href="/carrito" class="text-center text-blanco">
                Carrito
            </a>
            <a href="/login" class="text-center text-blanco">
                Iniciar sesión
            </a>
            <a href="/signup" class="text-center text-blanco espacio_abajo">
                Registrarse
            </a>

        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center gap-2 flex-column">
            <a href="/sobrenosotros#contacto" class="text-decoration-none">
                <h5 class="text-center text-title pt-4 ">
                    Contacto
                </h5>
            </a>
            <div class="linea text-center"></div>
            <a href="https://twitter.com" class="text-center text-blanco">
                Twitter
            </a>
            <a href="https://www.instagram.com/" class="text-center text-blanco">
                Instagram
            </a>
            <a href="https://es-es.facebook.com/" class="text-center text-blanco">
                Facebook
            </a>
            <a href="http://" class="text-center text-blanco">
                Telefono: 65742132
            </a>
            <a href="mailto:icarluus@outlook.com" class="text-center text-blanco espacio_abajo">
                Email
            </a>
        </div>
    </nav>
    <p class="copyright">
        Wetapas  © Todos los derechos reservados 2022
    </p>
</footer>