
<footer class="footer">
    <nav class="mx-auto d-md-flex">
        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center gap-2 flex-column">
            <h5 class="text-center text-title pt-4">
                Mapa web
            </h5>
            <div class="linea"></div>
            <a href="http://" class="text-center text-blanco">
                Productos
            </a>
            <a href="http://" class="text-center text-blanco">
                Sobre Nosotros
            </a>
            <a href="http://" class="text-center text-blanco">
                ¿Cómo funciona?
            </a>
            <a href="http://" class="text-center text-blanco">
                Login
            </a>
            <a href="http://" class="text-center text-blanco espacio_abajo">
                SignUp
            </a>

        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center gap-2 flex-column">
            <h5 class="text-center text-title pt-4 ">
                Contacto
            </h5>
            <div class="linea text-center"></div>
            <a href="http://" class="text-center text-blanco">
                Twitter
            </a>
            <a href="http://" class="text-center text-blanco">
                Instagram
            </a>
            <a href="http://" class="text-center text-blanco">
                Facebook
            </a>
            <a href="http://" class="text-center text-blanco">
                Telefono: 65742132
            </a>
            <a href="mailto:icarluus@outlook.com" class="text-center text-blanco espacio_abajo">
                Email
            </a>
        </div>
    </nav>
    <p class="copyright">
        Wetapas  © Todos los derechos reservados 2022
    </p>
</footer>