
:root {
    --rojoOscuro: #941C2F;
    --rojoClaro: #F76C5E; 
    --blanco: #fff; 
    --azulOscuro: #122C34; 
}

html, body{
    font-family: "MuseoModerno", sans-serif; 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* TODO:Main */
/* figura */
.header-img{
    width: 100%;
    height: 600px;
    object-fit: cover;  
    border-radius: 20px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}

.text-header-box{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}
.h1-title{
    color: var(--rojoOscuro);
    font-size: 48px;
    font-weight: bolder;
}

.header-list{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.text-list{
    color: var(--rojoOscuro);
    font-size: 26px;
    font-weight: 600;
}

/* codePost */
.codePost-comprobation{
    width: 100%;
    height: auto;
    background-color: var(--rojoClaro);
    padding: 20px 0px;
}

.text-blanco{
    color: var(--blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.text-rojoO{
    color: var(--rojoOscuro);
}
.text-rojoC{
    color: var(--rojoClaro);
}
.text-semibold{
    font-weight: 600;
}
.title{
    font-size: 22px;
    font-weight: 900;
}
.semititle{
    font-size: 20px;
    font-weight: 600;
}
.text{
    font-size: 18px;
}
.ma-1{
    margin: 30px 0px;
}

.postcode-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.postcode-input{
    display: flex;
    align-items: center;
}
.btn-form{
    height: 30px;
    clip-path: ellipse(100% 80% at 0% 50%);
    background-color: var(--rojoOscuro);
    color: var(--blanco);
    border: 0px;
    z-index: 2;
}

/* caracteristicas */
.row{
    padding-top: 0px;
    /* background-color: #ccc; */
}
.icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.row-msg{
    padding-left: 50px;
    font-weight: lighter;
}
.r-img{
    width: 100%;
    margin: 0px;
}
.banner-img{
    width: 100%; 
    height: 100%;
    object-fit:fill; 

}


/* community */
.community{
    background-color: var(--rojoClaro);
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
}
.container-comunity{
    width: 80%;
}

.comunity-img{
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}

.alerta{
    margin: 20px 0px;
   background-color: var(--rojoOscuro);
   border: 3px solid var(--rojoOscuro);
   color: var(--blanco);
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
   font-size: 24px;
   text-align: center;
}
