:root {
    --rojoOscuro: #941C2F;
    --rojoClaro: #F76C5E; 
    --blanco: #fff; 
    --azulOscuro: #122C34; 
}

html,body{
    margin: 0px; 
    padding: 0px;
    font-family: "MuseoModerno", sans-serif;
}

.main{
    width: 100%;
    height: auto;
}

.text-title{
    font-weight: bolder;
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.text-rojoOscuro{
    color: var(--rojoOscuro);
}

.text-text{
    font-size: 26px;
}

.product-card{
    height: 600px;
    width: 400px;
    border-radius: 40px 40px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}
.product-img{
    height: 350px;
    width: 100%;
    object-fit: fill;
    border-radius: 40px 40px 0px 0px;
    position: relative;
}
.product-info{
    background-color: var(--rojoClaro);
    width: 100%;
    height: auto;
    /* border-radius: 0px 0px 40px 40px; */
}
.product-title{
    color: var(--blanco);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    /* padding: 10px 7px 2px 7px; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.opinion{
    font-size: 30px;
    display: block;
    color: var(--azulOscuro);
    position: absolute;
    top: 20px;
    right: 10px;
    width: 100px ;
    height: 50px;
    background-color: var(--rojoOscuro);
    color: var(--blanco);
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 10px;
}
.linea-card{
    background-color: var(--rojoOscuro);
    height: 2px;
    width: 100%;
    margin: auto;
}
.precio{
    font-size: 30px;
    color: var(--blanco); 
    background-color: var(--rojoClaro);
    display:block; 
    width: 50%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-radius: 0px 0px 0px 40px;
    text-align: center;
    padding-top: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.add-box{
    position: relative;
    background-color: var(--rojoClaro);
    width: 50%;
    height: 50px;
    border-radius: 0px 0px 40px 0px;
}
.product-btn-drc{
    display: block;
    width: 50%;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 40px 0px;
    background-color: var(--rojoOscuro);
    color: var(--blanco);
    box-shadow: #54101b 4px 4px 0px;
    transition: trasnform 200ms, box-shadow 200ms;
    margin-bottom: 4px;
    position: absolute;
    top: 0%;
    right: 0%;
}
/* .product-btn-drc:active{
    /* background: rgb(148,28,47);
    background: radial-gradient(circle, rgba(148,28,47,1) 50%, rgba(0,0,0,1) 100%);
    color: var(--blanco); 
    transform: translateY(4px) translateX(4px);
    box-shadow: #54101b 0px 0px 0px;
    color: var(--blanco);
} */
.product-btn-drc:hover{
   color: var(--blanco);
   transform: translateY(4px) translateX(4px);
    box-shadow: #54101b 0px 0px 0px;
}

