:root {
    --rojoOscuro: #941C2F;
    --rojoClaro: #F76C5E; 
    --blanco: #fff; 
    --azulOscuro: #122C34; 
}

html,body{
    margin: 0px; 
    padding: 0px;
    font-family: "MuseoModerno", sans-serif;
}

.product-img{

    width: 100%;
    height: 100%;
    border-radius: 40px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}

.product-title{
    color: var(--rojoOscuro);
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}

.product-desc{
    color: var(--rojoClaro);
    font-size: 28px;
    font-weight: 600;
}

.btn-purchase{
    display: block;
    width: 90%;
    height: auto;
    background-color: var(--rojoOscuro);
    color: var(--blanco);
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    border: 3px solid var(--rojoOscuro);
    margin: 20px auto;
    padding: 20px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}

.btn-purchase:hover{
    background-color: var(--blanco);
    border: 3px solid var(--rojoOscuro);
    color: var(--rojoOscuro);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
}

.review-header{
    display: flex;
    align-items: center;
}

.h-line{
    width: 100%;
    height: 60px;
    background-color: var(--rojoClaro);
}

.review-add{
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: var(--rojoOscuro);
    color: var(--blanco);
    border: none;
}

.review-add:hover{
    transform: scale(1.2);
    background-color: var(--blanco);
    border: 2px solid var(--rojoOscuro);
    color: var(--rojoOscuro);
}


.modal-header{
    background-color: var(--rojoOscuro);
    color: var(--blanco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.btn-close{
    color: var(--blanco);
    background-color: var(--blanco);
}

.review-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opinion, .review-rating{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-review{
    color: var(--rojoOscuro);
    font-size: 24px;
    font-weight: 600;
}

.cerrar-btn{
    background-color: var(--rojoOscuro);
    border-radius: 10px;
    border: 2px solid var(--rojoOscuro);
    color: var(--blanco);
    padding: 10px;
}
.cerrar-btn:hover{
    background-color: var(--blanco);
    border: 2px solid var(--rojoOscuro);
    color: var(--rojoOscuro);
}

.btn-submit{
    background-color: var(--azulOscuro);
    border-radius: 10px;
    border: 2px solid var(--azulOscuro);
    color: var(--blanco);
    padding: 10px;
}

.btn-submit:hover{
    background-color: var(--blanco);
    border: 2px solid var(--azulOscuro);
    color: var(--azulOscuro);

}

.review-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
}

.review-card{
    border-radius: 20px;
    background-color: var(--rojoOscuro);
    width: 100%;
    height: 100%;

}

.review-name{
    color: var(--blanco);
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.review-desc{
    color: var(--blanco);
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.rating{
    color: var(--blancos);
    font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: var(--blanco);
}

.rating b {
    font-size: 24px;
    font-weight: 600;
}