
:root {
    --rojoOscuro: #941C2F;
    --rojoClaro: #F76C5E; 
    --blanco: #fff; 
    --azulOscuro: #122C34; 
}
.footer{
    width: 100%;
    height: 200px;
    background-color: red;
}

.header{
    width: 100%;
    height: 212px;
    background-color: var(--rojoOscuro); 
}